header{
  background-color: #7EC479;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  color: #383931;
  line-height: 10vh;
  font-size: 8vh;
  text-align: center;
}

.headerButton{
  position: fixed;
  top: 6vh;
  right: 1vw;
  color: white;
  font-size: 3vh;
}

main{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
  overflow: scroll;
}

.box{
  width: 24vw;
  height: 34.5vh;
  float: left;
  background-color: #E1E1E1;
  border: 2.5px black solid;
  margin: 7vh 0 0 7vw;
}

.box img{
  position: absolute;
  width: 15vw;
  height: 20vh;
  margin: 5.75vh 0 0 4.5vw;
}

.info{
  float: left;
  margin-top: 26vh;
  font-size: 2.5vh;
  padding-left: .5vw;
}

.star{
  float: right;
  margin-top: 30vh;
  padding-right: .5vw;
}

.box a{
  position: absolute;
  width: 24vw;
  height: 34.5vh;
  font-size: 4.3125vh;
  padding-left: .5vw;
}

.showImg{
  float: left;
  width: 50vw;
  height: 60vh;
  margin: 5vh 0 0 5vw;
}

.showInfo{
  position: fixed;
  top: 15vh;
  left: 56.5vw;
  width: 43.5vw;
  height: 85vh;
  font-size: 3vh;
  overflow: scroll;
}

.showInfo p{
  padding-top: 5vh;
}

.showInfo a{
  float: left;
  text-align: center;
  width: 10vw;
  height: 5vh;
  margin: 1vh 1vw 0 0;
  color: #383931;
  border-radius: 1vh;
}

.editB{
  background-color: #7FC378
}

.deleteB{
  background-color: #F06C53;
}
