header{
  background-color: #5ECE76;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  color: #3A3938;
  line-height: 10vh;
  font-size: 8vh;
  text-align: center;
}

.newRestaurant{
  position: fixed;
  top: 3vh;
  right: 1vw;
  color: white;
  font-size: 3vh;
  padding-right: 2vh;
}

main{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
}
