header{
  background-color: #7EC479;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  color: #383931;
  line-height: 10vh;
  font-size: 8vh;
  text-align: center;
}

header a{
  color: #383931;
}

.authButton{
  position: fixed;
  top: 6vh;
  left: 1vw;
  color: white;
  font-size: 3vh;
}

.logoutButton{
  position: fixed;
  top: 6vh;
  left: 1vw;
  color: white;
  font-size: 3vh;
}

.headerButton{
  position: fixed;
  top: 6vh;
  right: 1vw;
  color: white;
  font-size: 3vh;
}

main{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
  overflow: scroll;
}

.box{
  width: 24vw;
  height: 34.5vh;
  float: left;
  background-color: #E1E1E1;
  border: 2.5px black solid;
  margin: 7vh 0 0 7vw;
}

.box img{
  position: absolute;
  width: 15vw;
  height: 20vh;
  margin: 5.75vh 0 0 4.5vw;
}

.info{
  float: left;
  margin-top: 26vh;
  font-size: 2.5vh;
  padding-left: .5vw;
}

.star{
  float: right;
  margin-top: 30vh;
  height: 15px;
  width: 15px;
  padding-right: 2vw;
}

.box a{
  position: absolute;
  width: 24vw;
  height: 34.5vh;
  font-size: 4.3125vh;
  padding-left: .5vw;
}

.showImg{
  float: left;
  width: 40vw;
  height: 45vh;
  margin: 5vh 0 0 5vw;
}

.showInfo{
  position: fixed;
  top: 15vh;
  left: 50vw;
  width: 45vw;
  height: 45vh;
  font-size: 1.5vh;
  overflow: scroll;
}

.showInfo p{
  padding-top: 5vh;
}

.showInfo a{
  float: left;
  text-align: center;
  width: 7vw;
  height: 3vh;
  line-height: 3vh;
  margin: 1vh 1vw 0 0;
  color: #383931;
  border-radius: 1vh;
}

.showInfo div.loc{
  float: left;
}

.showInfo div a{
  float: none;
  margin-left: 5px;
}

.addEmployee{
  background-color: #7FA8D6;
  position: fixed;
  top: 61vh;
  left: 4vw;
  width: 10vw;
  height: 3vh;
  text-align: center;
  line-height: 3vh;
  border-radius: 1vh;
  color: #383931;
}

.employees{
  background-color: red;
  position: fixed;
  top: 65vh;
  left: 3vw;
  width: 29vw;
  height: 33vh;
}

.reviews{
  background-color: yellow;
  position: fixed;
  top: 62vh;
  left: 35vw;
  width: 63vw;
  height: 36vh;
}

.editB{
  background-color: #7FC378
}

.deleteB{
  background-color: #F06C53;
}

.addReview{
  background-color: #7FA8D6;
}

.signUp{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 50vw;
  height: 90vh;
  text-align: center;
  margin: 10vh;
  font-size: 2vh;
}

.logIn{
  position: fixed;
  top: 10vh;
  right: 0;
  width: 50vw;
  height: 90vh;
  text-align: center;
  margin: 10vh;
  font-size: 2vh;
}

.form{
  position: fixed;
  width: 100vw;
  top: 10vh;
  height: 90vh;
  text-align: center;
  overflow: scroll;
}

.form div{
  margin: 3vh;
  font-size: 2vh;
}

.form div textarea{
  width: 55vw;
}

.form div .radio{
  display: inline-block;
}
