extends ../layout

block content
  header gTables
  main
    form(action="/restaurants/"+restaurant.id+"/edit" method="POST")
      div.form
        label(for="name") Name
        input(type="text" name="name" placeholder="Restaurant Name" value=restaurant.name)
        label(for="city") Location
        input(type"text" name="city" placeholder="City" value=restaurant.city)
        input(type="submit" value="Submit")
