extends ../layout

block content
  a.newRestaurant(href="/restaurants/new") New Restaurant
  main
    for restaurant in restaurants 
      .box
        a(href='/restaurants/'+restaurant.id)= restaurant.name
