extends ../layout

block content

  header gTables
  main
    h1= title
    p welcome to the #{title}
  br
  br
  br
  br
  br
  br
  br
  form( action="/restaraunts" method="POST")
    label(for="name") Name
    br
    input(type="text" name="name")

    for x in cuisnes
      input(type="radio" name="type" value="x")
