extends ../layout

block content
  header gTables
  main
    form(action="/restaurants/new" method="POST")
      div.form
        label(for="name") Name
        input(type="text" name="name" placeholder="Restaurant Name")
        label(for="city") Location
        input(type"text" name="city" placeholder="City")
        input(type="submit" value="Submit")
