extends ../layout

block content

  main
    h6 AAAAAAAAAAA
    h1= title
    p welcome to the #{title}
    br
    br
    br
    form( action="/restaraunts" method="POST")
      label(for="name") Name
      br
      input(type="text" name="name")

      for x in cuisnes
        input(type="radio" name="type" value="x")
