extends ../layout

block content
  header gTables
  main
    form(action="/restaurants" method="POST")
      div.form
        label(for="name") Name
        input(type="text" name="name" placeholder="Restaurant Name")
        label(for="city") Location
        input(type"text" name="city" placeholder="City")
        label(for="") Cuisine
        for x in cuisnes
          input(type="radio" name="type" value="x")
